@import url("https://fonts.googleapis.com/css?family=Comfortaa");
:root {
  font-size: 12px; }

::-webkit-scrollbar {
  display: none; }

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-color: #e4e4e4;
  background-image: url("./angel-14.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.5rem;
  font-color: #373737;
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0; }

nav {
  position: relative;
  height: 100px;
  background-color: rgba(179, 163, 105, 0.8);
  color: #e4e4e4;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); }
  nav .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-self: center; }
  nav .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    nav .nav-content .nav-item {
      height: 60px;
      width: 60px;
      border-radius: 10px;
      margin-left: 20px;
      color: #868686;
      line-height: 60px;
      text-align: center;
      font-size: 2rem; }
    nav .nav-content .title {
      font-size: 4rem;
      line-height: 60px;
      align-self: flex-start;
      flex-basis: min-content; }
    nav .nav-content .menu {
      display: flex; }
      nav .nav-content .menu .search {
        width: 240px;
        background-color: #e4e4e4;
        align-self: flex-end;
        flex-basis: content; }
      nav .nav-content .menu .new {
        background-color: #e4e4e4;
        float: right;
        align-self: flex-end;
        flex-basis: content; }
      nav .nav-content .menu .avatar {
        background-color: #e4e4e4;
        float: right;
        align-self: flex-end;
        flex-basis: min-content; }

.project {
  height: 400px;
  background-color: rgba(179, 163, 105, 0.8);
  opacity: 1;
  margin: 40px;
  border-radius: 20px;
  color: #373737;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); }
  .project .project-content {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    grid-template-columns: 5fr 35fr 30fr 10fr 10fr 10fr;
    grid-template-rows: 75px 75px 75px 75px;
    grid-template-areas: "score-1 name photo stat-1 stat-3 stat-5" "score-2 desc photo stat-1 stat-3 stat-5" "score-3 desc photo stat-2 stat-4 stat-6" "score-4 desc photo stat-2 stat-4 stat-6"; }
    .project .project-content .column {
      background-color: #e4e4e4;
      opacity: 1;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      overflow: auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      align-items: center; }
    .project .project-content .score-1 {
      grid-area: score-1;
      background-image: url(./globe-solid.svg); }
    .project .project-content .score-2 {
      grid-area: score-2;
      background-image: url(./arrow-up-solid.svg); }
    .project .project-content .score-3 {
      grid-area: score-3;
      background-image: url(./share-alt-solid.svg); }
    .project .project-content .score-4 {
      grid-area: score-4;
      background-image: url(./star-regular.svg); }
    .project .project-content .name {
      grid-area: name;
      font-size: 2.5rem;
      padding: 0 0 0 10px; }
    .project .project-content .desc {
      grid-area: desc;
      align-items: flex-start; }
    .project .project-content .photo {
      grid-area: photo; }
    .project .project-content .stat-1 {
      grid-area: stat-1;
      background-image: url(./wallet-solid.svg); }
    .project .project-content .stat-2 {
      grid-area: stat-2;
      background-image: url(./hourglass-half-solid.svg); }
    .project .project-content .stat-3 {
      grid-area: stat-3;
      background-image: url(./spinner-solid.svg); }
    .project .project-content .stat-4 {
      grid-area: stat-4;
      background-image: url(./user-friends-solid.svg); }
    .project .project-content .stat-5 {
      grid-area: stat-5;
      background-image: url(./map-marked-alt-solid.svg); }
    .project .project-content .stat-6 {
      grid-area: stat-6;
      background-image: url(./calendar-alt-solid.svg); }

footer {
  text-align: center;
  height: 400px;
  background-color: rgba(179, 163, 105, 0.8);
  color: #e4e4e4;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); }
  footer .quote {
    font-size: 3rem;
    line-height: 200px; }
  footer .copyright {
    line-height: 200px;
    color: #373737;
    font-size: 1.5rem; }

@media only screen and (max-width: 1000px) {
  body .project .project-content {
    grid-template-columns: 5fr 35fr 30fr;
    grid-template-areas: "score-1 name photo" "score-2 desc photo" "score-3 desc photo" "score-4 desc photo"; }
    body .project .project-content .stat-1 {
      display: none; }
    body .project .project-content .stat-2 {
      display: none; }
    body .project .project-content .stat-3 {
      display: none; }
    body .project .project-content .stat-4 {
      display: none; }
    body .project .project-content .stat-5 {
      display: none; }
    body .project .project-content .stat-6 {
      display: none; }
  body footer .quote {
    font-size: 1rem; } }
@media only screen and (max-width: 1000px) {
  body nav .nav-content .search {
    display: none; }
  body nav .nav-content .new {
    display: none; }
  body .project {
    height: 600px;
    margin: 20px; }
    body .project .project-content {
      grid-template-columns: 5fr 35fr;
      grid-template-rows: 75px 75px 75px 75px 180px;
      grid-template-areas: "score-1 name" "score-2 desc" "score-3 desc" "score-4 desc" "photo photo"; } }

/*# sourceMappingURL=styles.css.map */
